<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="footer" class="footer">

    <a th:href="@{https://www.facebook.com}">
        <img class="social-media-icon" th:src="@{/images/facebook_icon.png}"/>
    </a>
    <a th:href="@{https://twitter.com}">
        <img class="social-media-icon" th:src="@{/images/twitter_icon.png}"/>
    </a>
    <a th:href="@{https://www.youtube.com}">
        <img class="social-media-icon" th:src="@{/images/youtube_icon.png}"/>
    </a>
    <a th:href="@{https://www.instagram.com}">
        <img class="social-media-icon" th:src="@{/images/instagram_icon.png}"/>
    </a>
    <br><br>

    Copyright© 2021 All Rights Reserved

</div>

</html>